# Node
node_modules/

# Client & server node_modules
client/node_modules/
server/node_modules/

# Environment files
.env
server/.env
client/.env

# Uploads
server/uploads/

# Build outputs
client/dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Coverage
coverage/

# Misc
.cache/
